.photos-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  justify-content: center;
  align-content: center;
  height: 100vh;
  padding-left: 0;
}

.photo-item {
  list-style: none;
  text-align: center;
}

.photo-img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.photo-title {
  margin-top: 8px;
}
